@import url('./Main.css');

.image-gradient {
    position: absolute;
    top: -310px;     
    left: -190px;   
    width: 1500px;   
    height: 1500px;           
    opacity: 1;
    filter: brightness(2) contrast(10) saturate(2);
    z-index: 1;
}

  .image-gradient-2 {
      position: absolute;
      top: -300px;
      right: -210px;
      opacity: 1;
      filter: brightness(2) contrast(10) saturate(2);
      z-index: 1;
  }

.nav-bar {
    display: flex;
    justify-content: space-between; /* Push brand left, links right */
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 2rem 1rem;
    z-index: 999;
    letter-spacing: 0.1rem;
    background-color: black;
    box-sizing: border-box;
}
.brandnsearch{
 display: flex;
 justify-content: flex-start; 
 align-items: center;
}

.navbar-brand{
  font-family:'Monoton' ;
  font-size: 2.6rem;
  font-weight: 300;
  padding: 7px 15px;
  word-spacing: 1rem;
  letter-spacing: .15rem;
  padding-right: 0.5rem;
}

.search-bar{
 display: flex ;
 justify-content: flex-end; 
 align-items: center;
 padding: 1rem 2rem;
 overflow: hidden;
}   

.search-field {
  height: 35px;       /* Taller box */
  padding: 0 12px;    /* Optional: horizontal padding */
  font-size: 1.2rem;    /* Optional: make text easier to read */
  border-radius: 4px; /* Optional: soft edges */
}

.search-field:focus{
outline: none;
box-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}

.search-btn{
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
font-size: 1.7rem;
padding: 7px 0px 9px 15px;
border: none;
cursor: pointer;

}
.search-btn:focus{
outline: none;
}

.navbar-links {  
 font-size: 1.7rem;
 display: flex;
}

.home-link {
  margin: 0rem;
  padding: 1rem 1rem;  
   transition: opacity 0.3s ease, transform 0.3s ease;
 
}

.home-link:hover::after {
  content: "Home";
  transform: translateX(-50%) translateY(0);
  top: 100%;
  font-size: 0.9rem;
  color: #ccc;
}

.fav-link {
  margin: 0rem;
  padding: 1rem 2rem;
}

.fav-link:hover::after {
  content: "Favourite";
  transform: translateX(-50%) translateY(0);
  top: 100%;
  font-size: 0.9rem;
  color: #ccc;
}
