/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.logo {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  color: #f00; /* red for movie drama? */
  text-shadow: 2px 2px 5px black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #111;
  color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;  
}
a {
  text-decoration: none;
  color: #f0f0f0;
  transition: all 0.3s ease;
}
a:hover {
  color: #ffffff;
  transform: scale(1.05);
  background-color: #f0f0f00f;
}


